<nav class="navbar">
    <ul>
        <li><a href="/list">Sparade dokument</a></li>
        <li><a href="/">Skapa nytt dokument</a></li>
        <li><a href="/">Uppdatera dokument</a></li>
    </ul>
</nav>
